Packages needed to be installed before using our recommendation system:
! pip install sklearn
! pip install fuzzywuzzy

Imports:
1.basics:  
    import pandas as pd
    import numpy as np
    import json

2.sklearn
    Use sklearn to support our similarity model
    
    from sklearn.feature_extraction.text import TfidfVectorizer
    from sklearn.metrics.pairwise import linear_kernel
    from sklearn.feature_extraction.text import CountVectorizer
    from sklearn.metrics.pairwise import cosine_similarity

3. fuzzywuzzy
    Use fuzzywuzzy to predict what user means (if the input is misspelled or in the wrong format)
    
    from fuzzywuzzy import process
